
.profil__main{
    display: flex;
}
.profil__content{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.profil__contentTitle-span{
    color: red;
}
.profil__contentItem{
    width: 800px;
    
}