
.profil__main{
    display: flex;
}
.profil__content{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.profil__contentTitle-span{
    color: red;
}
.profil__contentItems{
    width: 100%;
    margin: 0 auto;
    display: flex;   
}
.profil__contentChart{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profil__contentChart2{
   
    width: 95%;
    height: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.profil__contentRadar,
.profil__contentLine,
.profil__contentPie{
    background-color:  rgb(245, 245, 245); 
    width: 30%;
    border-radius: 5px;
}
.profil__contentRadar{
    background-color: #282D30;
}
.profil__contentLine{
    position: relative;
    background-color: red;
}
.profil__contentLineTitle{
    position: absolute;
    top:5px;
    left: 10px;
    color: white;
}
.profil__contentLineTitle p{
    margin: 0;
    text-align: left;
}
.profil__contentPie{
    position: relative;
}
.profil__contentPieTitle{
    position: absolute;
    top: 10px;
    left: 10px;
}
.profil__contentPieLabel{
    
    width: 100px;
    position: absolute;
    top: 35%;
    left: 25%;
}
.profil__contentPieLabel p{
    margin: 0;
}
.profil__contentCalories{
    background-color:  rgb(245, 245, 245);
    width: 30%;
}